@using OlxaWeb.Domain.Entities
@model IEnumerable<Portfolio>
@{
    ViewBag.Current = "Portfolio";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="page-title"></section><!-- .page-title -->
    <section class="container">
        <h2 class="block-title text-center">
            Сайты Разработанные в OlxaWeb
            <small>Наши последние работы</small>
        </h2>
        <!-- Filters -->
        <div class="text-center padding-top">
            <ul class="nav-filters space-bottom-2x text-center">
                <li class="active"><a href="#" data-filter="*">Все</a></li>
                <li><a href="#" data-filter=".lan">Лэндинг</a></li>
                <li><a href="#" data-filter=".corp">Корпоративный</a></li>
                <li><a href="#" data-filter=".mag">Магазин</a></li>
                <li><a href="#" data-filter=".lux">Эксклюзив</a></li>
            </ul><!-- .nav-filters -->
        </div>
        <!-- Portfolio Grid -->
        <div class="grid isotope-grid col-3 filter-grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

          @foreach (var site in Model )
          {
                <!-- Portfolio Item -->
            <div class="grid-item @site.Category">
                <a href="Site/@site.Id" class="portfolio-item">
                    <div class="thumbnail waves-effect waves-light">
                        <img src="~/Content/img/1478172823164455436.png" alt="Portfolio">
                        <h3 class="portfolio-title">@site.Name</h3>
                    </div>
                </a>
            </div><!-- .grid-item. -->
          }
        </div><!-- .isotope-masonry-grid -->
    </section><!-- .container -->
    </div>