@using OlxaWeb.Domain.Entities
@model IEnumerable<Portfolio>
@{
    ViewBag.Current = "Portfolio";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="page-title"></section><!-- .page-title -->
    <section class="container">
        <h2 class="block-title text-center">
            Сайты Разработанные в OlxaWeb
            <small>Наши последние работы</small>
        </h2>
        <!-- Filters -->
        <div class="text-center padding-top">
            @if (User.IsInRole("Admin"))
            {
                <div class="column">
                    <div class="social-bar" style="float:left">
                        <a href="~/Portfolio/CreatePortfolio" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Добавить">
                            <i class="fa fa-plus text-danger"></i>
                        </a>
                    </div>
                </div>
            }
            <ul class="nav-filters space-bottom-2x text-center">
                <li class="active"><a href="#" data-filter="*">Все</a></li>
                @foreach (var filter in ViewBag.Filter)
            {
                    <li><a href="#" data-filter=".@filter">@filter</a></li>
                }
            </ul><!-- .nav-filters -->
        </div>
        <!-- Portfolio Grid -->
        <div class="grid isotope-grid col-3 filter-grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

            @foreach (var site in Model)
            {
                <!-- Portfolio Item -->
                <div class="grid-item @site.Category">
@if (User.IsInRole("Admin"))
{
                    <div class="column">
                        <div class="social-bar" style="float:right">
                            <a href="~/Portfolio/EditSite/@site.Id" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Редактировать">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Portfolio/DeletePortfolio/@site.Id" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Удалить">
                                <i class="fa fa-window-close text-danger"></i>
                            </a>
                            @if (site.Publish == true)
                            {
                                <a href="~/Portfolio/PublishPortfolio/@site.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Убрать с публикации">
                                    <i class="fa fa-minus-square" style="color:#808080"></i>
                                </a>
                            }
                            else
                            {
                                <a href="~/Portfolio/PublishPortfolio/@site.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Опубликовать!">
                                    <i class="fa fa-plus-square" style="color:#00ff21"></i>
                                </a>
                            }
                        </div>
                    </div>
}
                    <a href="~/Portfolio/Site/@site.Id" class="portfolio-item">
                        <div class="thumbnail waves-effect waves-light">
                            <img src="~/Content/img/PorfolioPicture/@site.PicturePC" alt="Portfolio">
                            <h3 class="portfolio-title">@site.Name</h3>
                        </div>
                    </a>
                </div><!-- .grid-item. -->
            }
        </div><!-- .isotope-masonry-grid -->
    </section><!-- .container -->
</div>

@section Scripts {
}