@model OlxaWeb.Domain.Entities.Portfolio

@{
    ViewBag.Current = "Portfolio";
    ViewBag.Title = "Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Page Title -->
<!--Add modifier class : "pt-fullwidth" to stretch page title and make it occupy 100% of the page width. -->
<section class="page-title">
    <div class="container">
        <div class="inner">
            <div class="column">
                <div class="title">
                    <h1>Наша работа</h1>
                </div><!-- .title -->
            </div><!-- .column -->
            <div class="column">
                <div class="breadcrumbs">
                    <a href="~/Portfolio/Index">Галлерея работ :</a>
                    <span class="delimiter"><i class="icon-arrow-right"></i></span>
                    <span> @Model.Name</span>
                </div><!-- .breadcrumbs -->
            </div><!-- .column -->
        </div>
    </div>
</section><!-- .page-title -->
<section class="shop-single container">
    <div class="row">
        <div class="col-lg-5 col-md-6 space-bottom-2x">
            <!-- Shop Image Carousel -->
            <!-- Data API:
              data-loop="true/false" enable/disable looping
              data-autoplay="true/false" enable/disable carousel autoplay
              data-interval="3000" autoplay interval timeout in miliseconds
              data-autoheight="true/false" enable/disable autoheight with transition
              Simply add necessary data attribute to the ".image-carousel" with appropriate value to adjust carousel functionality.
             -->
            <div class="image-carousel">
                <div class="inner">
                    <img src="~/Content/img/PorfolioPicture/@Model.PicturePC" />
                    <img src="~/Content/img/PorfolioPicture/@Model.PictureMobile" />
                </div>
            </div><!-- .image-carousel -->
        </div><!-- .col-lg-5.col-md-6 -->
        <div class="col-lg-7 col-md-6 space-bottom-2x">
            <h2 class="shop-title"><a href="#">@Model.Name</a></h2>
            <p class="text-gray">@Model.Description</p>
            <div class="post-tools space-top">
                <div class="column">
                    <div class="tags-links">
                        <a href="#">Smartwatch</a>
                        <a href="#">Wearables</a>
                    </div>
                </div><!-- .column -->
                @if (User.IsInRole("Admin"))
                {
                    <div class="column">
                        <div class="social-bar" style="float:right">
                            <a href="~/Portfolio/EditSite/@Model.Id" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Редактировать">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/Portfolio/DeleteSite/@Model.Id" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Удалить">
                                <i class="fa fa-window-close text-danger"></i>
                            </a>
                            @if (Model.Publish == true)
                            {
                                <a href="~/Portfolio/PublishPortfolio/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Скрыть с публикации">
                                    <i class="fa fa-minus-square" style="color:#808080"></i>
                                </a>
                            }
                            else
                            {
                                <a href="~/Portfolio/PublishPortfolio/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Опубликовать">
                                    <i class="fa fa-plus-square" style="color:#00ff21"></i>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div><!-- .col-lg-7.col-md-6 -->
    </div><!-- .row -->
    <div class="row padding-top">
      
    </div><!-- .row -->
</section><!-- .shop-single -->
@section Scripts {
}