
@{
    ViewBag.Current = "MySite";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2> тут будет список сайтов и услуг пользователя</h2>
    @Html.ActionLink("шаблонные","DevTemplate","MyWebSite")<br/>
    @Html.ActionLink("индивидуальные", "DevIndividual", "MyWebSite")<br />
    @Html.ActionLink("эксклюзивные", "DevExclusive", "MyWebSite")
</div>

