@model IEnumerable<OlxaWeb.Domain.Entities.Post>

<section class="widget widget_recent_posts">
    <h3 class="widget-title">
        <i class="icon-paper"></i>
        Наиболее просматриваемые посты
    </h3>

    @foreach (var post in Model)
    {
        <div class="item">
            <div class="thumb">
                <a href="~/Blog/Post/@post.Id"><img src="~/Content/img/BlogPicture/@post.Picture" alt="картинка"></a>
            </div>
            <div class="info">
                <h4><a href="~/Blog/Post/@post.Id">@post.Title / @post.Counter</a></h4>
            </div>
        </div>
    }
</section>