
  <!-- FAQ -->
<div class="container">
    <br>
    <h2 class="block-title">
        <small>Полезная информация по разработке сайта</small>
    </h2>

    <div class="row">
        <div class="col-sm-4">
            <ul class="list-featured">
                <li><a href="#" class="no-border">Common WordPress Installation</a></li>
                <li><a href="#" class="no-border">How Do I Check Item Compatibility?</a></li>
                <li><a href="#" class="no-border">Item Installation Guide &amp; Help Documentation</a></li>
                <li><a href="#" class="no-border">Manage account</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-featured">
                <li><a href="#" class="no-border">How do I share folders with other?</a></li>
                <li><a href="#" class="no-border">How Do I Check Item Compatibility?</a></li>
                <li><a href="#" class="no-border">Item Installation Guide &amp; Help Documentation</a></li>
                <li><a href="#" class="no-border">Manage account</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-featured">
                <li><a href="#" class="no-border">How do I link to a file or folder?</a></li>
                <li><a href="#" class="no-border">How Do I Check Item Compatibility?</a></li>
                <li><a href="#" class="no-border">Item Installation Guide &amp; Help Documentation</a></li>
                <li><a href="#" class="no-border">Manage account</a></li>
            </ul>
        </div>
    </div>
</div>