@model OlxaWeb.Domain.Entities.Temmplate

@{
    ViewBag.Current = "Develop";
    ViewBag.Title = "Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!--Add modifier class : "pt-fullwidth" to stretch page title and make it occupy 100% of the page width. -->
    <section class="page-title">
        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="title">
                        <h1>Разработка</h1>
                    </div><!-- .title -->
                </div><!-- .column -->
                <div class="column">
                    <ul class="menu-title text-center">
                        <li class="active"><a href="#">Готовые решения</a></li>
                        <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>
                        <li>@Html.ActionLink("Эксклюзивные", "Exclusive", "Develop")</li>
                    </ul><!-- .nav-filters -->
                </div><!-- .column -->
            </div>
        </div>
    </section><!-- .page-title -->
    <!-- Single Product -->
    <section class="shop-single container">
        <div class="row">
            <div class="col-lg-5 col-md-6 space-bottom-2x">
                <!-- Shop Image Carousel -->
                <!-- Data API:
                  data-loop="true/false" enable/disable looping
                  data-autoplay="true/false" enable/disable carousel autoplay
                  data-interval="3000" autoplay interval timeout in miliseconds
                  data-autoheight="true/false" enable/disable autoheight with transition
                  Simply add necessary data attribute to the ".image-carousel" with appropriate value to adjust carousel functionality.
                 -->
                <div class="devices">
                    <div class="tablet">
                        <img src="~/Content/img/Home/ipad.png" alt="iPad" />
                        <div class="mask">
                            <ul class="screens">
                                <li class="active in" id="ts01">
                                    <iframe src="http://bootsnipp.com/iframe/56bAW" scrolling="no" width="400" height="300">abc</iframe>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- .col-lg-5.col-md-6 -->
            <div class="col-lg-7 col-md-6 space-bottom-2x">
                <h2 class="shop-title"><a href="#">@Model.Title</a></h2>
                <p class="text-gray">Duis aute irure dolor in reprehenderit tempor incididunt ut labore et dolore magna aliqua. aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariaturLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fufugiat nulla pariatur</p>
                <div class="post-tools space-top">
                    <div class="shop-tools">
                        <span class="text-lg border-price">15000</i></span>
                    </div>
                    <a href="#" class="btn btn-primary btn-icon-right waves-effect waves-light btn-border-price">
                        Заказать
                        <i class="fa fa-shopping-basket"></i>
                    </a>
                </div>
                <div class="post-tools space-top">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="column">
                            <div class="social-bar" style="float:right">
                                <a href="~/Develop/EditTemplate/@Model.Id" class="sb-skype" data-toggle="tooltip" data-placement="top" title="Редактировать">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Develop/DeleteTemplate/@Model.Id" class="sb-facebook" data-toggle="tooltip" data-placement="top" title="Удалить">
                                    <i class="fa fa-window-close text-danger"></i>
                                </a>
                                @if (Model.Publish == true)
                                {
                                    <a href="~/Develop/PublishTemplate/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Скрыть с публикации">
                                        <i class="fa fa-minus-square" style="color:#808080"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="~/Develop/PublishTemplate/@Model.Id" class="sb-twitter" data-toggle="tooltip" data-placement="top" title="Опубликовать">
                                        <i class="fa fa-plus-square" style="color:#00ff21"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                    </div>
                </div><!-- .col-lg-7.col-md-6 -->
            </div><!-- .row -->
                            <div class="row padding-top">
                                <div class="col-sm-12 space-bottom">
                                    <!-- Nav Tabs -->
                                    <ul class="nav-tabs" role="tablist">
                                        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Описание</a></li>
                                        <li><a href="#tab2" role="tab" data-toggle="tab">Сервис</a></li>
                                        <li><a href="#tab3" role="tab" data-toggle="tab">Поддержка</a></li>
                                    </ul><!-- .nav-tabs -->
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane transition fade in active" id="tab1">
                                            <span class="text-bold">Dimensions</span>
                                            <p class="text-gray">40.5mm x 37.5mm x 10.5mm</p>
                                            <span class="text-bold">Band</span>
                                            <p class="text-gray">22mm wide, compatible with all 22mm watch bands.</p>
                                            <span class="text-bold">Weight</span>
                                            <p class="text-gray">62.3g (w/ leather band), 116.3g (w/ metal band) (w/ included silicone strap)</p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane transition fade" id="tab2">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="https://player.vimeo.com/video/120506679?color=2895f1&title=0&byline=0&portrait=0" width="640" height="360"></iframe>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane transition fade" id="tab3">
                                            <h3>Ask your question</h3>
                                            <form method="post">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="text" name="support_name" class="form-control" placeholder="Name" required>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="email" name="support_email" class="form-control" placeholder="Email" required>
                                                    </div>
                                                </div>
                                                <textarea name="support_message" rows="6" placeholder="Question" required></textarea>
                                                <button type="submit" class="btn btn-default btn-block waves-effect waves-light">Send Question</button>
                                            </form>
                                        </div>
                                    </div><!-- .tab-content -->
                                </div><!-- .col-sm-6 -->
                            </div>
</div><!-- .col-sm-6 -->
        </div><!-- .row -->
    </section><!-- .shop-single -->
    </div>
@section Scripts {
}