
@{
    ViewBag.Current = "Develop";
    ViewBag.SubMenu = "Exclusive";
    ViewBag.Title = "Эксклюзивный";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <section class="page-title">
        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="title">
                        <h1>Разработка</h1>
                    </div><!-- .title -->
                </div><!-- .column -->
                <div class="column">
                    <ul class="menu-title text-center">
                        <li>@Html.ActionLink("Готовые решения", "Template", "Develop")</li>
                        <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>
                        <li class="active"><a href="#">Эксклюзивные</a></li>
                    </ul><!-- .nav-filters -->
                </div><!-- .column -->
            </div>
        </div>
    </section><!-- .page-title -->
    <section class="container padding-bottom-3x">
        <h2 class="block-title text-center">
            "Эксклюзивные Сайты"
            <small>наиболее затратный, но самый уникальный вариант</small>
        </h2>
    </section>
</div>
 <!-- CTA -->
<section class="fw-section-bg">
    <div class="container padding-top text-center">
        <div class="row">
            <div class="text-center-bg no-bottom">
                Схема сотрудничества
            </div>
            <div class="text-center">
                <ul class="nav-tabs nav-pills" role="tablist">
                    <li class="active"><a href="#tab7" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Старт</a></li>
                    @*<li><a href="#tab8" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />"Разведка"</a></li>*@
                    <li><a href="#tab9" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />ТЗ</a></li>
                    <li><a href="#tab10" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Дизайн</a></li>
                    <li><a href="#tab11" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Программирование</a></li>
                    <li><a href="#tab12" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Наполнение</a></li>
                    <li><a href="#tab13" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Тестирование</a></li>
                    <li><a href="#tab14" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Сдача</a></li>
                    <li><a href="#tab15" role="tab" data-toggle="tab"><i class="fa fa-lemon-o"></i><br />Поддержка</a></li>
                </ul><!-- .nav-tabs -->
            </div><!-- .text-center -->
            <!-- Tab panes -->
            <div class="col-md-10 col-md-offset-1">
                <div class="tab-content tab-content-bg">
                    <div role="tabpanel" class="tab-pane transition fade in active" id="tab7"> 1. Начало работ по созданию эксклюзивного сайта <br/><br />...</div>
                    @*<div role="tabpanel" class="tab-pane transition fade scale" id="tab8">2. блa бла бла бла блабла бла <br /><br />Процесс разработки проекта, качество и сроки курирует исполнительный менеджер. Все взаимодействие по проекту ведется через него. На основе выбранного вами шаблона создается тестовая площадка — ваш будущий сайт. Менеджер проекта адаптирует дизайн-шаблон будущего сайта под вашу компанию (изменениям подлежит только логотип, цветовая схема и изображения в слайдере) и делает наполнение сайта присланными материалами. В случае необходимости менеджер связывается с вами для согласования текстов и уточнения вопросов. Программисты выполняют подключение CMS-системы и выполняют настройку модулей сайта с учетом особенностей вашего бизнеса. Когда все работы закончены, сайт проходит тестирование и передается вам на согласование.</div>*@
                    <div role="tabpanel" class="tab-pane transition fade scaledown" id="tab9">2. блa бла бла бла блабла бла <br /><br />После согласования и получения второй части стоимости разработки сайт выкладывается на хостинг, и вам передаются все доступы к системе администрирования. Теперь вы можете управлять своим новым сайтом. Обращаем внимание. Сайт передается вам с уже выполненными базовыми настройками поисковой оптимизации, которые способствуют успешной индексации ресурса поисковыми системами. Однако это не дает гарантии попадания в топ поисковых систем по ключевым запросам. Для последующего успешного продвижения сайта необходимо воспользоваться услугами контекстной рекламы или поискового продвижения.</div>
                    <div role="tabpanel" class="tab-pane transition fade left" id="tab10">2. блa бла бла бла блабла бла <br /><br />После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки исправляются бесплатно в приоритетном порядке. Если вам необходимы доработки по сайту, пожелания принимаются через службу технической поддержки и оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</div>
                    <div role="tabpanel" class="tab-pane transition fade right" id="tab11">2. блa бла бла бла блабла бла <br /><br />Процесс разработки проекта, качество и сроки курирует исполнительный менеджер. Все взаимодействие по проекту ведется через него. На основе выбранного вами шаблона создается тестовая площадка — ваш будущий сайт. Менеджер проекта адаптирует дизайн-шаблон будущего сайта под вашу компанию (изменениям подлежит только логотип, цветовая схема и изображения в слайдере) и делает наполнение сайта присланными материалами. В случае необходимости менеджер связывается с вами для согласования текстов и уточнения вопросов. Программисты выполняют подключение CMS-системы и выполняют настройку модулей сайта с учетом особенностей вашего бизнеса. Когда все работы закончены, сайт проходит тестирование и передается вам на согласование.</div>
                    <div role="tabpanel" class="tab-pane transition fade top" id="tab12">2. блa бла бла бла блабла бла <br /><br />После согласования и получения второй части стоимости разработки сайт выкладывается на хостинг, и вам передаются все доступы к системе администрирования. Теперь вы можете управлять своим новым сайтом. Обращаем внимание. Сайт передается вам с уже выполненными базовыми настройками поисковой оптимизации, которые способствуют успешной индексации ресурса поисковыми системами. Однако это не дает гарантии попадания в топ поисковых систем по ключевым запросам. Для последующего успешного продвижения сайта необходимо воспользоваться услугами контекстной рекламы или поискового продвижения.</div>
                    <div role="tabpanel" class="tab-pane transition fade bottom" id="tab13">2. блa бла бла бла блабла бла <br /><br />После выкладки сайта осуществляется консультационная и техническая поддержка. В случае обнаружения ошибки в работе сайта или возникновения вопроса вы всегда сможете обратиться к нам. Ошибки исправляются бесплатно в приоритетном порядке. Если вам необходимы доработки по сайту, пожелания принимаются через службу технической поддержки и оплачиваются отдельно из расчета действующей на момент обращения стоимости часа.</div>
                    <div role="tabpanel" class="tab-pane transition fade flip" id="tab14">2. блa бла бла бла блабла бла <br /><br />Процесс разработки проекта, качество и сроки курирует исполнительный менеджер. Все взаимодействие по проекту ведется через него. На основе выбранного вами шаблона создается тестовая площадка — ваш будущий сайт. Менеджер проекта адаптирует дизайн-шаблон будущего сайта под вашу компанию (изменениям подлежит только логотип, цветовая схема и изображения в слайдере) и делает наполнение сайта присланными материалами. В случае необходимости менеджер связывается с вами для согласования текстов и уточнения вопросов. Программисты выполняют подключение CMS-системы и выполняют настройку модулей сайта с учетом особенностей вашего бизнеса. Когда все работы закончены, сайт проходит тестирование и передается вам на согласование.</div>
                    <div role="tabpanel" class="tab-pane transition fade flip" id="tab15">2. блa бла бла бла блабла бла <br /><br />Процесс разработки проекта, качество и сроки курирует исполнительный менеджер. Все взаимодействие по проекту ведется через него. На основе выбранного вами шаблона создается тестовая площадка — ваш будущий сайт. Менеджер проекта адаптирует дизайн-шаблон будущего сайта под вашу компанию (изменениям подлежит только логотип, цветовая схема и изображения в слайдере) и делает наполнение сайта присланными материалами. В случае необходимости менеджер связывается с вами для согласования текстов и уточнения вопросов. Программисты выполняют подключение CMS-системы и выполняют настройку модулей сайта с учетом особенностей вашего бизнеса. Когда все работы закончены, сайт проходит тестирование и передается вам на согласование.</div>

                </div><!-- .tab-content -->
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .fw-section.next-to-footer -->

@Html.Partial("_PartialInformationDevelop")

@section Scripts {
}