
@{
    ViewBag.Current = "Develop";
    ViewBag.Title = "Exclusive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title">
    <div class="container">
        <div class="inner">
            <div class="column">
                <div class="title">
                    <h1>Разработка</h1>
                </div><!-- .title -->
            </div><!-- .column -->
            <div class="column">
                <ul class="nav-filters text-center">  
                    <li>@Html.ActionLink("Готовые решения", "Template", "Develop")</li>       
                    <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>                 
                    <li class="active"><a href="#">Эксклюзивные</a></li>
                </ul><!-- .nav-filters -->
            </div><!-- .column -->
        </div>
    </div>
</section><!-- .page-title -->
