
@{
    ViewBag.Current = "Develop";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <!-- Pricings -->
<section class="fw-section border-bottom padding-top-3x padding-bottom-2x">
    <div class="container">
        <h2 class="block-title text-center">
            Different hosting platforms to suit every need!
            <small>Each type of hosting service we provide is further optimized with unique performance tweaks!</small>
        </h2>
        <div class="row padding-top">
            <!-- Plan -->
            <div class="col-sm-4">
                <div class="pricing-plan">
                    <div class="pricing-header">
                        <div class="pricing-icon">
                            <img src="img/features/03.png" alt="Pricing">
                        </div>
                        <h3 class="pricing-title">Готовые Решения</h3>
                        <p>The ultimate shared hosting solutions!</p>
                        <a href="~/Develop/Template" class="btn btn-default btn-icon-right waves-effect waves-light">
                            Подробнее
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <ul>
                        <li>Стоимость <strong>15000 руб</strong></li>
                        <li>Срок <strong>3 дня</strong></li>
                        <li>Subdomains <strong>2</strong></li>
                    </ul>
                </div>
            </div>
            <!-- Plan -->
            <div class="col-sm-4">
                <div class="pricing-plan">
                    <div class="pricing-header">
                        <div class="pricing-icon">
                            <img src="img/features/01.png" alt="Pricing">
                        </div>
                        <h3 class="pricing-title">Индивидуальные</h3>
                        <p>High performance cloud platform!</p>
                        <a href="~/Develop/Individual" class="btn btn-primary btn-icon-right waves-effect waves-light">
                            Подробнее
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <ul>
                        <li>Стоимость <strong>15000 руб</strong></li>
                        <li>Срок <strong>3 дня</strong></li>
                        <li>Subdomains <strong>5</strong></li>
                    </ul>
                </div>
            </div>
            <!-- Plan -->
            <div class="col-sm-4">
                <div class="pricing-plan">
                    <div class="pricing-header">
                        <div class="pricing-icon">
                            <img src="img/features/02.png" alt="Pricing">
                        </div>
                        <h3 class="pricing-title">Эксклюзивные</h3>
                        <p>The ultimate shared hosting solutions!</p>
                        <a href="~/Develop/Exclusive" class="btn btn-default btn-icon-right waves-effect waves-light">
                            Подробнее
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <ul>
                        <li>Стоимость <strong>15000 руб</strong></li>
                        <li>Срок <strong>3 дня</strong></li>
                        <li>Subdomains <strong>20</strong></li>
                    </ul>
                </div>
            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .fw-section.border-bottom -->
