
@{
    ViewBag.Current = "Develop";
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>List. Выбор из трёх видов сайта: шаблонные,индивидуальные,эксклюзивные </h2>
</div>