@using OlxaWeb.Domain.Entities
@model IEnumerable<Temmplate>
@{
    ViewBag.Current = "Develop";
    ViewBag.SubMenu = "Template";
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<!--Add modifier class : "pt-fullwidth" to stretch page title and make it occupy 100% of the page width. -->
<section class="page-title">
    <div class="container">
        <div class="inner">
            <div class="column">
                <div class="title">
                    <h1>Разработка</h1>
                </div><!-- .title -->
            </div><!-- .column -->
            <div class="column">
                    <ul class="menu-title text-center">
                        <li class="active"><a href = "#" > Готовые решения</a></li>
                        <li>@Html.ActionLink("Индивидуальные", "Individual", "Develop")</li>
                        <li>@Html.ActionLink("Эксклюзивные", "Exclusive", "Develop")</li>
                    </ul><!-- .nav-filters -->
                </div><!-- .column -->
            </div>
        </div>
</section><!-- .page-title -->
<!-- Content -->
<section class="container">
    <h2 class="block-title text-center">
        Готовые Сайты Для Вашего Бизнеса
        <small> Наиболее Быстрое и Простое Решение</small>
    </h2>

    <!-- Filters -->
    <div class="text-center padding-top">
        <ul class="nav-filters space-bottom-2x text-center">
            <li class="active"><a href = "#" data-filter="*">Все</a></li>
            <li><a href = "#" data-filter= ".magazin">Интернет-магазин</a ></li >
            <li><a href= "#" data-filter= ".comercy">Корпаративный</a></li>
            <li><a href="#" data-filter=".lending">Лендинг</a></li>
        </ul><!-- .nav-filters -->
    </div>

    <!-- Portfolio Grid -->
    <div class="grid isotope-grid col-3 filter-grid">

        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        @foreach(var Site in @Model)
    {
                <!-- Portfolio Item -->
                    <div class="grid-item @Site.Category">
                        <a href="~/Develop/Card/@Site.Id" class="portfolio-item">
                            <div class="thumbnail waves-effect waves-light">
                                <img src="~/Content/img/1478172823164455436.png" alt="Portfolio" />
                            </div>
                            <h3 class="portfolio-title">@Site.Category</h3>
                        </a>           
                    </div><!-- .grid-item.identity -->
                }
            </div><!-- .isotope-masonry-grid -->
    <!-- Load More Button -->
    @*<div class="text-center padding-top">
        <a href="#" class="btn btn-primary btn-ghost waves-effect">Load More</a>
    </div>*@
</section><!-- .container -->
<!-- Scroll To Top Button -->
<a href="#" class="scroll-to-top-btn">
    <i class="fa fa-lemon-o"></i>
</a><!-- .scroll-to-top-btn -->


