 <!-- More Features -->
<div class="container padding-top-3x padding-bottom-3x">
    <div class="row padding-bottom-3x scrollReveal sr-bottom">
        <div class="col-md-5 padding-top tablet-center mobile-center">
            <h4>Intelligent hosting on your own servers</h4>
            <p class="text-lg text-gray">We've created the fastest and most convenient cloud technology to help you easily and more efficiently manage your infrastructure so you can get back to coding.</p>
            <img src="img/home/browsers.jpg" class="inline-block" alt="Browsers"><br>
            <a href="#" class="btn btn-primary waves-effect waves-light btn-icon-right space-top-2x">
                See Documentation
                <i class="icon-arrow-right"></i>
            </a>
        </div>
        <div class="col-md-7">
            <div class="padding-top visible-sm visible-xs"></div>
            <img  src="~/Content/img/Home/devices02.jpg" class="block-center" alt="Devices">
        </div>
    </div><!-- .row -->
</div><!-- .container -->