
<!-- Features -->
<section class="container padding-top-2x padding-bottom-3x">
    <h2 class="block-title text-center scrollReveal sr-bottom">
        Делаем сайты любой сложности
        <small> спектр наших услуг охватывает большую часть клиентских потребностей в разработке и продвижении сайтов </small>
    </h2> @*исходя из Ваших потребностей и приоритетов мы поможем подбрать для вас наиболее оптимальный вариант*@
    <div class="row padding-top">
        <div class="col-md-4 scrollReveal sr-scaleUp sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/14.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Готовые решения</h3>
                        <p class="bwi-text">Уже созданные сайты, основанные на многолетнем опыте компаний преуспевающих в различных сферах бизнесса</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 scrollReveal sr-scaleUp sr-delay-1 sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/15.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Индивидуальные</h3>
                        <p class="bwi-text">Разработка сайтов различных направлений под нужды ашей компании, на движке(CMS) </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 scrollReveal sr-scaleUp sr-delay-2 sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/16.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Эксклюзивный</h3>
                        <p class="bwi-text">Создание сайта с нуля на кроссплатформенном <br/>фреймворке ASP.NET Core </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .row -->
    <img src="~/Content/img/Home/funding-progress-bg.jpg"  alt="Pebble Time">
</section><!-- .container -->