
<!-- Features -->
<section class="container padding-top-2x padding-bottom-3x">
    <h2 class="block-title text-center scrollReveal sr-bottom">
        Core Smartwatch Features
        <small>A friendly interface to control your time.</small>
    </h2>
    <div class="row padding-top">
        <div class="col-md-4 scrollReveal sr-scaleUp sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/14.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Готовый сайт</h3>
                        <p class="bwi-text">Включает в себя все необходимое для </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 scrollReveal sr-scaleUp sr-delay-1 sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/15.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Индивидуальный</h3>
                        <p class="bwi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod mudo ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 scrollReveal sr-scaleUp sr-delay-2 sr-ease-in-out-back">
            <div class="box-with-icon bwi-horizontal">
                <div class="bwi-inner">
                    <div class="bwi-icon">
                        <img src="~/Content/img/Home/16.png" alt="Feature">
                    </div>
                    <div class="bwi-content">
                        <h3 class="bwi-title">Эксклюзивный</h3>
                        <p class="bwi-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod mudo ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .row -->
    <img src="~/Content/img/Home/funding-progress-bg.jpg" /> alt="Pebble Time">
</section><!-- .container -->