
<!-- Fullwidth section has bunch of modifier classes to alter its appearance: ".border-top, .border-bottom, .arrow-top, .arrow-bottom, .bg-gray, .bg-default, .bg-primary, .bg-parallax". They can be used separately or alltogether. -->
<section class="fw-section bg-parallax padding-top-3x text-center" style="background-image: url('../../Content/img/Home/Landing/fon_for_nout.jpg');" data-stellar-background-ratio="0.65">
    <div class="container padding-top-3x padding-bottom">
     
        <div class="scrollReveal sr-bottom sr-ease-in-out-back">
            <h1>Мы занимаемся разработкой, созданием и продвижением сайтов</h1>
            @*<h4 class="text-normal">  </h4>*@
        </div>
     <img src="~/Content/img/Home/Landing/nout.png" class="block-center scrollReveal sr-scaleUp sr-delay-1 sr-ease-in-out-back" alt="Pebble Time">
        <div class="padding-bottom-2x visible-xs"></div>
    </div><!-- .container -->
    <div class="angle"></div>
</section><!-- .fw-section -->
<!-- Features -->