 <!-- More Features -->
<div class="container padding-top-3x padding-bottom-3x">
    <div class="row padding-bottom-3x scrollReveal sr-bottom">
        <div class="col-md-5 padding-top tablet-center mobile-center">
            <h4>SEO продвижение вашего сайта</h4>
            <p class="text-lg text-gray">Хоть наши сайты разрабатываются с учётом SEO, это не гарантирует его наличие в топе при поисковом запросе, если не заниматься его продвижением. Мы готовы предложить Вам свои услуги по продвижению </p>
            <a href="#" class="btn btn-primary waves-effect waves-light btn-icon-right space-top">
                Подробнее
                <i class="icon-arrow-right"></i>
            </a>
        </div>
        <div class="col-md-7">
            <div class="padding-top visible-sm visible-xs"></div>
            <img  src="~/Content/img/Home/d2.gif" class="block-center" alt="Devices">
        </div>
    </div><!-- .row -->
</div><!-- .container -->