@{
    ViewBag.Current = "Contact";
    ViewBag.Title = "Brigade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title">
    <div class="container">
        <div class="inner">
            <div class="column">
                <div class="title">
                    <h1>Команда</h1>
                </div><!-- .title -->
            </div><!-- .column -->
            <div class="column">
                <ul class="menu-title text-center">
                    <li class="active"><a href="#">Наша команда</a></li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Наш Блог", "Index", "Blog")</li>
                </ul><!-- .nav-filters -->
            </div><!-- .column -->
        </div>
    </div>
</section><!-- .page-title -->


<section class="container padding-bottom-3x">
    <h2 class="block-title text-center">
        OlxaWeb в лицах
        <small> они работают не за еду, а за идею</small>
    </h2>
    <div class="row padding-top">
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/04.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-skype" data-toggle="tooltip" title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-twitter" data-toggle="tooltip" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Lil Huston</h3>
                <p>Co-founder &amp; CEO</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/05.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-dribbble" data-toggle="tooltip" title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                                <a href="#" class="sb-behance" data-toggle="tooltip" title="Behance">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Amy Rollhouse</h3>
                <p>Co-founder &amp; CTO</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/06.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-stackoverflow" data-toggle="tooltip" title="Stack Overflow">
                                    <i class="fa fa-stack-overflow"></i>
                                </a>
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-google-plus" data-toggle="tooltip" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Josh</h3>
                <p>VP of Infrastructure</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/07.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-skype" data-toggle="tooltip" title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-twitter" data-toggle="tooltip" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Kim Kurdasha</h3>
                <p>General Counsel</p>
            </div>
        </div>
    </div><!-- .row -->
    <div class="row">
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/08.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-dribbble" data-toggle="tooltip" title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                                <a href="#" class="sb-behance" data-toggle="tooltip" title="Behance">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Andy Cabana</h3>
                <p>Designer</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/09.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-stackoverflow" data-toggle="tooltip" title="Stack Overflow">
                                    <i class="fa fa-stack-overflow"></i>
                                </a>
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-google-plus" data-toggle="tooltip" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">Kale Lake</h3>
                <p>Support</p>
            </div>
        </div>
        <!-- Teammate -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail">
                    <div class="flipper">
                        <div class="front">
                            <img src="img/team/10.jpg" alt="Team">
                        </div>
                        <div class="back">
                            <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                            <div class="social-bar">
                                <a href="#" class="sb-skype" data-toggle="tooltip" title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="sb-twitter" data-toggle="tooltip" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="teammate-name">James Birkins</h3>
                <p>Developer</p>
            </div>
        </div>
        <!-- Hiring -->
        <div class="col-lg-3 col-sm-6">
            <div class="teammate-1 text-center">
                <div class="thumbnail-static">
                    <img src="img/team/00.png" alt="Hiring">
                    <h4>We Are Hiring</h4>
                </div>
                <h3 class="teammate-name">Maybe You?</h3>
                <p>Designer, Developer</p>
            </div>
        </div>
    </div><!-- .row -->
</section><!-- .container -->
@section Scripts {
}