
@{
    ViewBag.Current = "Contacts";
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <!-- Split Contacts -->
    <section class="split-contacts next-to-footer space-top">
        <div class="column">
            <!-- Data API:
                 data-height="500" height of the map in pixels
                 data-address="Your address" string
                 data-zoom="number" to control map zoom when loaded
                 data-disable-controls="false/true" enable/disable map controls like pan, zoom, etc.
                 data-scrollwheel="true/false" enable/disable mouse scroll wheel zoom
                 data-marker="path_to_your_image" path to custom marker image
                 data-marker-title=" Your title" appears on marker hover
                 data-styles="[array]" you can adjust the look and feel of your map. Recommend to use https://snazzymaps.com
             -->
            <div class="google-map"
                 data-address="New York, USA"
                 data-zoom="13"
                 data-disable-controls="false"
                 data-scrollwheel="false"
                 data-marker="img/map-marker.png"
                 data-marker-title="Nucleus Office"
                 data-styles='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":60}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"off"},{"color":"#000000"},{"lightness":26}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":30}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":27},{"weight":1.2}]},{"featureType":"administrative","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"administrative.country","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"labels.text","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"simplified"},{"saturation":"-100"},{"lightness":"40"}]},{"featureType":"administrative.neighborhood","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"visibility":"simplified"},{"gamma":"0.00"},{"lightness":"70"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":30}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"lightness":"13"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":31}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":27}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":39},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":28}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":26}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":29}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":27}]}]'></div><!-- .google-map -->
            <div class="contact-details text-light">
                <div class="cd-head">
                    <div class="cd-icon">
                        <img src="~/Content/img/contacts-icon.png" alt="Icon">
                    </div>
                    <div class="cd-title">
                        <h4>Event Location</h4>
                    </div>
                </div>
                <h6>OlxaWeb</h6>
                <ul class="list-icon">
                    <li><i class="fa fa-map-marker"></i>105 Cypress Ave, NY<br>10012, USA</li>
                    <li><i class="fa fa-phone"></i>+10 (330) 555 48</li>
                    <li><i class="fa fa-envelope"></i>info@yoursite.com</li>
                </ul>
            </div>
        </div><!-- .column -->
        <div class="column" style="background-image: url(img/home/contacts-bg.jpg);">
            <form method="post" class="contact-form ajax-form padding-top-3x" autocomplete="off">
                <h4>Drop Us a Line</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name='name' placeholder="Name*">
                    </div>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" name='email' placeholder="Email*">
                    </div>
                </div>
                <textarea name="message" class="form-control" rows="7" placeholder="Message"></textarea>
                <button type="submit" class="btn btn-default btn-block btn-ghost waves-effect waves-light">Send Message</button>
                <!-- Validation Response -->
                <div class="response-holder"></div>
            </form><!-- .contact-form -->
        </div><!-- .column -->
    </section><!-- .split-contacts.next-to-footer -->
    @*<section class="container padding-bottom-3x">
            <h2 class="block-title text-center">
                Smart people. Brilliant ideas.
                <small>Who's behind all this?</small>
            </h2>
            <div class="row padding-top">
                <!-- Teammate -->
                <div class="col-lg-3 col-sm-6">
                    <div class="teammate-1 text-center">
                        <div class="thumbnail">
                            <div class="flipper">
                                <div class="front">
                                    <img src="~/Content/img/05.jpg" />
                                </div>
                                <div class="back">
                                    <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                                    <div class="social-bar">
                                        <a href="#" class="sb-skype" data-toggle="tooltip" title="Skype">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                        <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="sb-twitter" data-toggle="tooltip" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="teammate-name">Lil Huston</h3>
                        <p>Co-founder &amp; CEO</p>
                    </div>
                </div>
                <!-- Teammate -->
                <div class="col-lg-3 col-sm-6">
                    <div class="teammate-1 text-center">
                        <div class="thumbnail">
                            <div class="flipper">
                                <div class="front">
                                    <img src="~/Content/img/05.jpg" />
                                </div>
                                <div class="back">
                                    <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                                    <div class="social-bar">
                                        <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="sb-dribbble" data-toggle="tooltip" title="Dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                        <a href="#" class="sb-behance" data-toggle="tooltip" title="Behance">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="teammate-name">Amy Rollhouse</h3>
                        <p>Co-founder &amp; CTO</p>
                    </div>
                </div>
                <!-- Teammate -->
                <div class="col-lg-3 col-sm-6">
                    <div class="teammate-1 text-center">
                        <div class="thumbnail">
                            <div class="flipper">
                                <div class="front">
                                    <img src="~/Content/img/05.jpg" />
                                </div>
                                <div class="back">
                                    <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                                    <div class="social-bar">
                                        <a href="#" class="sb-stackoverflow" data-toggle="tooltip" title="Stack Overflow">
                                            <i class="fa fa-stack-overflow"></i>
                                        </a>
                                        <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="sb-google-plus" data-toggle="tooltip" title="Google Plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="teammate-name">Josh</h3>
                        <p>VP of Infrastructure</p>
                    </div>
                </div>
                <!-- Teammate -->
                <div class="col-lg-3 col-sm-6">
                    <div class="teammate-1 text-center">
                        <div class="thumbnail">
                            <div class="flipper">
                                <div class="front">
                                    <img src="~/Content/img/05.jpg" />
                                </div>
                                <div class="back">
                                    <p class="padding-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error.</p>
                                    <div class="social-bar">
                                        <a href="#" class="sb-skype" data-toggle="tooltip" title="Skype">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                        <a href="#" class="sb-facebook" data-toggle="tooltip" title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="sb-twitter" data-toggle="tooltip" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="teammate-name">Kim Kurdasha</h3>
                        <p>General Counsel</p>
                    </div>
                </div>
            </div><!-- .row -->

        </section><!-- .container -->*@
</div>