@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!-- Page Title -->
    <!--Add modifier class : "pt-fullwidth" to stretch page title and make it occupy 100% of the page width. -->
    <section class="page-title">
        <div class="container">
            <div class="inner">
                <div class="column">
                    <div class="title">
                        <h1> Разработка </h1>
                    </div><!-- .title -->
                </div><!-- .column -->
                <div class="column">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a>
                        <span class="delimiter"><i class="icon-arrow-right"></i></span>
                        <span>Help Topic</span>
                    </div><!-- .breadcrumbs -->
                </div><!-- .column -->
            </div>
        </div>
    </section><!-- .page-title -->

    Это страница Index
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error

</div>
