@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    Это страница Index
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus natus, reiciendis vel exercitationem error

</div>
