
@{
    ViewBag.Current = "SEO";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <!-- Pricing Table -->
    <section class="fw-section border-bottom padding-top-3x padding-bottom-2x">
        <div class="container">
            <h2 class="block-title text-center">
                Продвижение сайтов в поисковых системах (SEO)
                <small>Each type of hosting service we provide is further optimized with unique performance tweaks!</small>
            </h2>
            <!-- Pricing Table -->
            <div class="pricing-table space-top">
                <table>
                    <colgroup>
                        <col>
                        <col>
                        <col class="featured">
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <span class="text-bold">Minimum</span>
                            <span class="text-gray space-top">For the home page, Internet Identity.</span>
                            <a href="#" class="text-sm space-top">Buy now</a>
                        </td>
                        <td>
                            <span class="img-icon"><img src="img/pricing/icon.png" alt="Featured Plan"></span>
                            <span class="text-bold">Start</span>
                            <span class="text-gray space-top">Allows you to place a standard site.</span>
                            <a href="#" class="text-sm space-top">Buy now</a>
                        </td>
                        <td>
                            <span class="text-bold">Standard</span>
                            <span class="text-gray space-top">Optimal solution for a news portal, shop.</span>
                            <a href="#" class="text-sm space-top">Buy now</a>
                        </td>
                        <td>
                            <span class="text-bold">Premium</span>
                            <span class="text-gray space-top">Intersting for serious business structures.</span>
                            <a href="#" class="text-sm space-top">Buy now</a>
                        </td>
                        <td>
                            <span class="text-bold">Elite</span>
                            <span class="text-gray space-top">Your elite internet identity.</span>
                            <a href="#" class="text-sm space-top">Buy now</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">Domains</td>
                        <td class="text-bold">1</td>
                        <td class="text-bold">2</td>
                        <td class="text-bold">10</td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">Subdomains</td>
                        <td class="text-bold">2</td>
                        <td class="text-bold">5</td>
                        <td class="text-bold">30</td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">Disk space</td>
                        <td class="text-bold">500 MB</td>
                        <td class="text-bold">1 GB</td>
                        <td class="text-bold">10 GB</td>
                        <td class="text-bold">30 GB</td>
                        <td class="text-bold">70 GB</td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">Bandwidth</td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                        <td class="text-bold"><span class="infinity"></span></td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">PHP support</td>
                        <td class="text-bold"><span class="not-available"></span></td>
                        <td class="text-bold"><span class="available"></span></td>
                        <td class="text-bold"><span class="available"></span></td>
                        <td class="text-bold"><span class="available"></span></td>
                        <td class="text-bold"><span class="available"></span></td>
                    </tr>
                    <tr>
                        <td class="text-gray text-right">Annual cost</td>
                        <td class="text-bold">$9.99</td>
                        <td class="text-bold">$15.99</td>
                        <td class="text-bold">$29.99</td>
                        <td class="text-bold">$49.99</td>
                        <td class="text-bold">$99.99</td>
                    </tr>
                </table><!-- table -->
            </div><!-- .pricing-table -->
        </div><!-- .container -->
    </section><!-- .fw-section.border-bottom -->
</div>