
@{
    ViewBag.Current = "Price";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- Pricing Table -->
    <section class="fw-section border-bottom padding-top-3x padding-bottom-2x">
        <div class="container">
            <h2 class="block-title text-center">
               Цены на услуги 
                <small>Each type of hosting service we provide is further optimized with unique performance tweaks!</small>
            </h2>
            <!-- Pricing Table -->
        <table class="table table-striped table-bordered table-hover">
                <tr style="border:2px solid #1bdb68">
                    <th>Услуги</th>
                    <th>Цена</th>
                    <th>&nbsp;</th>
                </tr>
                <tr class="green">
                    <td>Индивидульная разработка</td>
                    <td>15000</td>
                    <td>Хочу такое</td>
                </tr>
                <tr class="green">
                    <td>эксклюзивная разработка</td>
                    <td>150000</td>
                    <td>Хочу такое</td>
                </tr>
                <tr class="green">
                    <td>Стандартный пакет SEO</td>
                    <td>15000</td>
                    <td>Хочу такое</td>
                </tr>          

        </table>
        </div><!-- .container -->
    </section><!-- .fw-section.border-bottom -->
</div>


